
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

.republicbackground {
    background-color: #333;
}
.separatistbackground { 
    background-color:#333; 
}
.home.background {
    background-color: #333;
}

#header {
    background-color: #1f2421;
    text-align: center;
    padding: 20px;
    color:#FFE81F;
}

#headerbig {
    background-color: #1f2421;
    text-align: center;
    padding: 20px;
    color: #FFE81F;
    background-image: url(Starfield.webp);
}

/* The navbar container */
.topnav {
    overflow: hidden;
    background-color:#454441;
    background-image: url(Starfield.webp);
}

  /* Navbar links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

  /* Links - change color on hover */
.topnav a:hover {
    background-color:#706c60;
    color:#FFE81F;
    background-image: url(/Starfield2.webp);
}

.description {
    color:#c9c7bf;
}

.column {
    float: right;  
}

/* Right column smaller*/
.column.right {
    width: 50%;
}

/* left column bigger */
.column.left {
    width: 50%;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
.column.right, .column.left {
width: 100%;}
}

.colcontainer {
    display:flex;
    flex-direction: row;
    
}

body {
    color:white;
    font-size: 12px;
    font-family:'Kdam Thmor Pro', sans-serif;
    padding-top: 25px;
    padding-right: 20px;
    padding-left: 10px;
    padding-bottom: 25px;
    background-color:#333
}

#image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 5px solid #1f2421;
}